.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.imnotArt4 {
  background: url("/plasmic/im_xbeanies/images/imnotArt3.png") -20px -74px / 160px 163px no-repeat;
  width: 119px;
  height: 27px;
  display: block;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.text {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: 25px;
}
.img {
  position: relative;
  object-fit: scale-down;
  max-width: none;
  left: auto;
  top: auto;
  width: auto;
  height: 20px;
  z-index: 1;
}
.img > picture > img {
  object-fit: scale-down;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
