.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.imNotArtNavLogo {
  background: url("/plasmic/im_xbeanies/images/imnotArt3.png") -20px -74px / 160px 163px no-repeat;
  width: 119px;
  height: 27px;
  display: block;
  flex-shrink: 0;
}
.verifiedToggle:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
