.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-UrAIHZ9j0);
  position: relative;
  min-width: 0;
  padding: 8px;
}
.rootclaimedListBox {
  background: var(--token-F-v_j4Jmt);
}
.image2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.uid {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
