.ownerStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
